/* this is run on the google docs and slides pages */
div#workspace-container, .kix-appview-editor {
	background: url('') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.left-sidebar-container {
	background-color: white;
}
